<nav class="relative px-4 py-4 flex justify-between items-center bg-white">
  <%= link_to root_path, id: "sad", class: "text-3xl font-bold leading-none" do %>
    <svg height="50px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 112 112" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <polygon style="fill:#FFE101;" points="44.091,90 41.763,96 69.755,96 67.428,90 "></polygon> <path style="fill:#2AB9F7;" d="M36.296,99C36.09,100,36,100.505,36,101.912V102h40v-0.088c0-1.407-0.575-1.912-0.78-2.912H36.296z"></path> <path style="fill:#2AB9F7;" d="M3,85.604C3,86.275,3.173,87,3.845,87h38.173H69.5h38.173c0.669,0,1.327-0.725,1.327-1.396V79H3 V85.604z"></path> <path style="fill:#2AB9F7;" d="M107.673,10H3.845C3.173,10,3,11.028,3,11.701V76h106V11.701C109,11.028,108.342,10,107.673,10z M105,73H7V13h98V73z"></path> <path d="M107.673,7H3.845C1.519,7,0,9.374,0,11.701v64.596v3v6.307C0,87.93,1.519,90,3.845,90h37.039l-2.464,6h-2.376 C34.094,96,33,98.628,33,101.912V105h46v-3.088C79,98.628,77.42,96,75.472,96h-2.376l-2.462-6h37.039 c2.323,0,4.327-2.07,4.327-4.396v-6.307v-3V11.701C112,9.374,109.997,7,107.673,7z M109,85.604c0,0.672-0.658,1.396-1.327,1.396 H69.5H42.019H3.845C3.173,87,3,86.275,3,85.604V79h106V85.604z M41.763,96l2.328-6h23.337l2.327,6H41.763z M3,76V11.701 C3,11.028,3.173,10,3.845,10h103.828c0.669,0,1.327,1.028,1.327,1.701V76H3z M76,102H36v-0.088c0-1.407,0.09-1.912,0.296-2.912 H75.22c0.205,1,0.78,1.505,0.78,2.912V102z"></path> <path style="fill:#FFFFFF;" d="M102,16H10v54h92V16z M85.307,41.027c-0.991,0-1.926-0.24-2.758-0.655L68.125,53.643 c0.407,0.825,0.641,1.749,0.641,2.728c0,3.418-2.781,6.199-6.199,6.199s-6.199-2.781-6.199-6.199c0-1.56,0.584-2.984,1.539-4.075 L47.52,40.301c-0.867,0.462-1.856,0.727-2.905,0.727c-0.924,0-1.799-0.209-2.588-0.573L32.486,52.26 c0.974,1.096,1.572,2.533,1.572,4.111c0,3.418-2.781,6.199-6.199,6.199s-6.199-2.781-6.199-6.199s2.781-6.199,6.199-6.199 c0.754,0,1.473,0.142,2.142,0.389l9.687-11.985c-0.795-1.042-1.273-2.339-1.273-3.748c0-3.418,2.781-6.199,6.199-6.199 s6.199,2.781,6.199,6.199c0,1.283-0.392,2.477-1.063,3.467l10.633,12.281c0.68-0.257,1.414-0.404,2.182-0.404 c1.352,0,2.601,0.44,3.62,1.178l14.067-12.942c-0.719-1.012-1.147-2.246-1.147-3.579c0-3.418,2.781-6.199,6.199-6.199 s6.199,2.781,6.199,6.199S88.725,41.027,85.307,41.027z"></path> <path d="M7,73h98V13H7V73z M10,16h92v54H10V16z"></path> <path style="fill:#FF422C;" d="M27.859,53.172c-1.764,0-3.199,1.436-3.199,3.199s1.435,3.199,3.199,3.199s3.199-1.436,3.199-3.199 S29.623,53.172,27.859,53.172z"></path> <path style="fill:#FF422C;" d="M47.814,34.828c0-1.764-1.435-3.199-3.199-3.199s-3.199,1.436-3.199,3.199s1.435,3.199,3.199,3.199 S47.814,36.592,47.814,34.828z"></path> <path style="fill:#FF422C;" d="M62.567,53.172c-1.764,0-3.199,1.436-3.199,3.199s1.435,3.199,3.199,3.199s3.199-1.436,3.199-3.199 S64.331,53.172,62.567,53.172z"></path> <path style="fill:#FF422C;" d="M85.307,31.629c-1.764,0-3.199,1.436-3.199,3.199s1.435,3.199,3.199,3.199s3.199-1.436,3.199-3.199 S87.071,31.629,85.307,31.629z"></path> <path d="M85.307,28.629c-3.418,0-6.199,2.781-6.199,6.199c0,1.333,0.427,2.567,1.147,3.579L66.187,51.349 c-1.02-0.737-2.268-1.178-3.62-1.178c-0.769,0-1.503,0.147-2.182,0.404L49.751,38.295c0.671-0.99,1.063-2.184,1.063-3.467 c0-3.418-2.781-6.199-6.199-6.199s-6.199,2.781-6.199,6.199c0,1.409,0.478,2.706,1.273,3.748l-9.687,11.985 c-0.669-0.247-1.388-0.389-2.142-0.389c-3.418,0-6.199,2.781-6.199,6.199s2.781,6.199,6.199,6.199s6.199-2.781,6.199-6.199 c0-1.578-0.598-3.016-1.572-4.111l9.541-11.806c0.789,0.364,1.663,0.573,2.588,0.573c1.05,0,2.038-0.264,2.905-0.727l10.386,11.996 c-0.955,1.091-1.539,2.514-1.539,4.075c0,3.418,2.781,6.199,6.199,6.199s6.199-2.781,6.199-6.199c0-0.98-0.235-1.904-0.641-2.728 l14.424-13.271c0.832,0.416,1.766,0.655,2.758,0.655c3.418,0,6.199-2.781,6.199-6.199S88.725,28.629,85.307,28.629z M85.307,38.027 c-1.764,0-3.199-1.436-3.199-3.199s1.435-3.199,3.199-3.199s3.199,1.436,3.199,3.199S87.071,38.027,85.307,38.027z M62.567,59.57 c-1.764,0-3.199-1.436-3.199-3.199s1.435-3.199,3.199-3.199s3.199,1.436,3.199,3.199S64.331,59.57,62.567,59.57z M41.416,34.828 c0-1.764,1.435-3.199,3.199-3.199s3.199,1.436,3.199,3.199s-1.435,3.199-3.199,3.199S41.416,36.592,41.416,34.828z M27.859,59.57 c-1.764,0-3.199-1.436-3.199-3.199s1.435-3.199,3.199-3.199s3.199,1.436,3.199,3.199S29.623,59.57,27.859,59.57z"></path> </g> </g></svg>
  <% end %>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-blue-600 p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
    <li>
      <%= link_to "Dashboard", root_path, class: "text-sm text-gray-400 hover:text-gray-500" %>
    </li>
    <li class="text-gray-300">
      <%= render partial: "shared/three_dots" %>
    </li>
    <li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">About Us</a></li>
    <li class="text-gray-300">
      <%= render partial: "shared/three_dots" %>
    </li>
    <li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">Services</a></li>
    <li class="text-gray-300">
      <%= render partial: "shared/three_dots" %>
    </li>
    <li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">Pricing</a></li>
    <li class="text-gray-300">
      <%= render partial: "shared/three_dots" %>
    </li>
    <li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">Contact</a></li>
  </ul>
  <% unless current_user.nil? %>
    <%= render "shared/_navbar/logged_in" %>
  <% else %>
    <%= render "shared/_navbar/logged_out" %>
  <% end %>
</nav>