<div class="relative px-4 py-4 flex justify-between items-center bg-white">
  <!-- Logo aligned to the left -->
  <div class="flex items-center">
    <%= link_to root_path, id: "sad", class: "text-3xl font-bold leading-none" do %>
      <svg height="50px" width="200px" viewBox="0 0 112 112" fill="#000000" xmlns="http://www.w3.org/2000/svg">
        <!-- SVG content here -->
      </svg>
    <% end %>
  </div>
  <!-- Navbar content -->
  <div class="flex flex-end justify-end items-center w-full">
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:items-center lg:space-x-6">
      <ul class="flex items-center space-x-6">
        <% unless current_user.nil? %>
          <li>
            <%= link_to "Dashboard", root_path, class: "text-sm text-gray-400 hover:text-gray-500" %>
          </li>
          <li class="text-gray-300">
            <%= render partial: "shared/three_dots" %>
          </li>
        <% else %>
          <li>
            <%= link_to "About Us", "#", class: "text-sm text-gray-400 hover:text-gray-500" %>
          </li>
          <li class="text-gray-300">
            <%= render partial: "shared/three_dots" %>
          </li>
          <li>
            <%= link_to "Services", "#", class: "text-sm text-gray-400 hover:text-gray-500" %>
          </li>
          <li class="text-gray-300">
            <%= render partial: "shared/three_dots" %>
          </li>
          <li>
            <%= link_to "Contact", "#", class: "text-sm text-gray-400 hover:text-gray-500" %>
          </li>
          <li class="text-gray-300">
            <%= render partial: "shared/three_dots" %>
          </li>
        <% end %>
      </ul>
      <!-- User-specific Links -->
      <% if current_user.nil? %>
        <%= render "shared/_navbar/logged_out" %>
      <% else %>
        <%= render "shared/_navbar/logged_in" %>
      <% end %>
    </div>
  </div>
</div>