<!-- Backdrop -->
<div id="backdrop" class="fixed inset-0 bg-black bg-opacity-50 hidden" aria-hidden="true"></div>
<!-- Mobile Menu Dialog -->
<div id="mobile-menu" class="fixed inset-0 z-50 flex items-center justify-center bg-white transform transition-transform duration-300 translate-x-full" aria-hidden="true">
  <div class="w-full max-w-xs p-4 bg-gray-100 shadow-lg">
    <button id="close-menu" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
      &times;
    </button>
    <ul>
      <li>
        <%= link_to "Dashboard", root_path, class: "block text-sm text-gray-400 hover:text-gray-500" %>
      </li>
      <% if current_user.nil? %>
        <li>
          <%= link_to "About Us", "#", class: "block text-sm text-gray-400 hover:text-gray-500" %>
        </li>
        <li>
          <%= link_to "Services", "#", class: "block text-sm text-gray-400 hover:text-gray-500" %>
        </li>
        <li>
          <%= link_to "Contact", "#", class: "block text-sm text-gray-400 hover:text-gray-500" %>
        </li>
      <% end %>
      <% unless current_user.nil? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, class: "block py-2 px-4 text-sm text-gray-900 font-bold" %>
        </li>
        <li>
          <%= link_to "My Profile", profile_path, class: "block py-2 px-4 text-sm text-white bg-blue-500 hover:bg-blue-600 font-bold rounded-xl" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", user_session_path, class: "block py-2 px-4 text-sm text-gray-900 font-bold bg-gray-50 hover:bg-gray-100 rounded-xl" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "block py-2 px-4 text-sm text-white bg-blue-500 hover:bg-blue-600 font-bold rounded-xl" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Trigger Button -->
<button id="open-menu" class="p-2 text-gray-500 hover:text-gray-700">
  Menu
</button>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const openMenuButton = document.querySelector('.navbar-burger');
    const closeMenuButton = document.getElementById('close-menu');
    const mobileMenu = document.getElementById('mobile-menu');
    const backdrop = document.getElementById('backdrop');

    openMenuButton.addEventListener('click', function() {
      mobileMenu.classList.remove('translate-x-full');
      mobileMenu.classList.add('translate-x-0');
      backdrop.classList.remove('hidden');
    });

    closeMenuButton.addEventListener('click', closeMenu);
    backdrop.addEventListener('click', closeMenu);

    function closeMenu() {
      mobileMenu.classList.add('translate-x-full');
      mobileMenu.classList.remove('translate-x-0');
      backdrop.classList.add('hidden');
    }
  });
</script>