<!DOCTYPE html>
<html>
  <head>
    <title>Finman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <% if flash[:notice] %>
      <div class="mt-4 p-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700 rounded" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="mt-4 p-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 rounded" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="px-20 py-6">
      <%= yield %>
    </div>
  </body>
</html>